<h1><%= title %></h1>

<form action="" method="POST">
	<div class="form_group">
		<label for="name">Genre: </label>
		<input
			id="name"
			class="form-control"
			type="text"
			placeholder="Fantasy, Poetry, etc."
			name="name"
			required
		/>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
